streamlit
streamlit-tags
pillow
numpy<2.0.0
spacy>=3.0.0,<3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
pyresparser
pdfminer.six
nltk
pandas
scikit-learn
plotly
pymysql
geocoder
geopy
requests
pdfminer3
