streamlit
pandas
numpy<2.0
scikit-learn
nltk
pdfplumber
python-docx
docx2txt
Pillow
pyresparser
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
PyMySQL
geocoder
plotly
geopy
pdfminer3
streamlit-tags
